<footer>
    <div class="column">
        <h2>Help</h2>
        <a href="{{{config.links.docs}}}">Documentation</a>
        <a href="{{{config.links.github}}}/wiki">Wiki</a>
        <a href="{{{config.links.github}}}/issues">Bugs</a>
    </div>
    <div class="column">
        <h2>Community</h2>
        <a href="{{{config.links.mailing_list}}}">Mailing List</a>
        <a href="{{{config.links.gitter}}}">Chat on Gitter</a>
        <a href="{{{config.links.discord}}}">Chat on Discord</a>
    </div>
    <div class="column">
        <h2>Connect</h2>
        <a href="{{{config.links.github}}}">GitHub</a>
        <a href="{{{config.links.twitter}}}">Twitter</a>
    </div>
    <div class="bottom">
        <div class="left">Copyright &copy; 2015-2022 NW.js community</div>
        <div class="right">Web hosting sponsored by <a href="https://www.privateinternetaccess.com/">PIA</a></div>
    </div>
</footer>
{{> ga}}
