<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head.ejs %>
</head>
<body>
<% include ../components/header.ejs %>

<div class="container home">
    <div class="download">
        <h1>Download <%= version_title %></h1>

        <div class="d32bit">
            <% download32Bit.forEach(function(i) { %>
                <a href="<%= i.link %>"><%= i.label %></a>
            <% }); %>
        </div>
        <div class="d64bit">
            <% download64Bit.forEach(function(i) { %>
                <a href="<%= i.link %>"><%= i.label %></a>
            <% }); %>
        </div>
        <a class="release-notes" href="<%= release_notes %>">Release Notes</a>
    </div>
    <div class="github">
        <a href="<%= github_link %>">View on <b>GitHub</b></a>
    </div>
    <div id="features">
        <h2>NW.js lets you call all Node.js modules directly from DOM and enables a new way of writing applications with
            all Web technologies.</h2>
        <ul>
            <li>
                <img src="/img/icon_code.png" alt=""/>

                <p>New way of writing native applications with the web's most popular technologies.</p>
            </li>
            <li>
                <img src="/img/icon_tech.png" alt=""/>

                <p>Apps written in modern HTML5, CSS3, JS, and WebGL.</p>
            </li>
            <li>
                <img src="/img/icon_connect.png" alt=""/>

                <p>Complete support for Node.js APIs and all third party modules.</p>
            </li>
            <li>
                <img src="/img/icon_puzzle.png" alt=""/>

                <p>Call Node.js modules directly from the DOM.</p>
            </li>
            <li>
                <img src="/img/icon_instances.png" alt=""/>

                <p>Easy to package and distribute apps.</p>
            </li>
            <li>
                <img src="/img/icon_platforms.png" alt=""/>

                <p>Available on Windows, OSX, &amp; Linux.</p>
            </li>
        </ul>

    </div>
</div>

<!-- END  -->
<% include ../components/footer.ejs %>
</body>
</html>